* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    background-color: white;
}

button {
    text-align: left;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}

#menu {
    margin-right: 1em;
    font-size: 1.5em;
    float: right;
    padding: 1em;
    border: none;
    text-decoration: none;
    background: none;
}

#menu:hover {
    cursor: pointer;
}

img {
    width: 10em;
    padding: .5em;
}

header {
    width: 100%;
    height: 8.5em;
    background: #F3F6F9;
    border-bottom-right-radius: 33.3px;
    margin-bottom: .5em;
}

.header {
    width: 100%;
    height: 5em;
    background: #F3F6F9;
    border-bottom-right-radius: 33.3px;
    z-index: 10;
}


.nav-links {
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: flex;
    max-width: fit-content;
    padding: 1em;
    color: black;
}

i {
    padding-left: .5em;
    padding-top: .1em;
    color: black;
    scale: 1.2;
}

h1 {
    padding: 0 0 .2em .5em;
}

.device-filter {
    padding: .5em;
}

#filter-devices {
    border-style: solid;
    border-color: #295EFF;
    border-width: 1px;
    border-radius: 2px;
    color: #295EFF;
    background-color: white;
    padding: 8px 16px 8px 16px;
    max-width: 171px;
    max-height: 40px;
    display: inline;
    margin-top: .3em;
}

label {
    font-size: 12px;
    margin: 1em;
    color: #3A495D;
    font-weight: 700;
}

#products {
    border-style: solid;
    border-color: #A3B2C2;
    border-width: 1px;
    border-radius: 2px;
    background-color: white;
    padding: 8px 16px 8px 16px;
    color: #091C35;
    font-size: 16px;
    margin: .5em 0 0 .5em;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    & li {
        min-width: 320px;
        max-width: 320px;
        max-height: fit-content;
        margin: 1em;
        padding: 1em;
        list-style: none;
        background-color: white;
        box-shadow: 0 0 5px 3px rgb(219, 218, 218);
    }
}

.product-line {
    margin: .2em;
    padding: .2em;
    color: #B15A00;
    background-color: #FFEBD9;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line1 {
    margin: .2em;
    padding: .2em;
    color: #295EFF;
    background-color: #DFE6FF;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line3 {
    margin: .2em;
    padding: .2em;
    color: #24684A;
    background-color: #D7F1F1;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line4 {
    margin: .2em;
    padding: .2em;
    color: #126F6F;
    background-color: #D5EAE1;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line5 {
    margin: .2em;
    padding: .2em;
    color: #6116C0;
    background-color: #E8DDF8;
    border-radius: 20px;
    max-width: fit-content;
}

.text-link {
    padding-top: 1em;
    color: #295EFF;
    z-index: 1;
    position: relative;
}

.bookmark {
    color: #295EFF;
    z-index: 1;
    position: relative;
}

.arrow {
    color: #295EFF;
    z-index: 1;
    position: relative;
}

/* modal menu */
.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    /* background-color: rgba(50, 50, 50, 0.8); */
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: z-index, opacity;

}

.modal-content {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.modal.show {
    z-index: 20;
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: z-index, opacity;
}

#close-modal {
    color: black;
    float: right;
    font-size: 16px;
    border: none;
    text-decoration: none;
    background: none;
    padding-right: 1.5em;
}

#text-height.present {
    text-overflow: unset;
    border: none;
    background: none;

}

#text-height {
    border: none;
    background: none;
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
}

#text-height.present p {
    text-overflow: unset;
    max-height: 100%;
}


header.modal-open .text-link,
header.modal-open .bookmark,
header.modal-open .arrow {
    display: none;
}



/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 102px;
}


/* On screens that are 600px or more, set the background color to olive */
@media screen and (min-width: 600px) {
    body {
        background-color: olive;
    }
}