*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
}

#menu {
    font-size: 1.5em;
    float: right;
    padding: 1em;
    border: none;
    text-decoration: none;
    background: none;
}

#menu:hover {
    cursor: pointer;
}

img{
    width: 10em;
    padding: .5em;
}

header {
    width: 100%;
    height: 5em;
    background: #F3F6F9;
    border-bottom-right-radius: 33.3px;
}

.nav-links {
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: flex;
    max-width: fit-content;
    padding: 1em;
    color: black;
}

i{
    padding-left: .5em;
    padding-top: .1em;
    color: black;
    scale: 1.2;
}

.cards{
        max-width: 360px;
        max-height: 394px;
        display: flex;
        flex-wrap: wrap;
    & li {
        margin: 1em;
        padding: 1em;
        list-style: none;
        background-color: white;
        box-shadow: 0 0 5px 3px rgb(219, 218, 218);
    }
}

.product-line{
    color: #B15A00;
    background-color: #FFEBD9;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line1{
    color: #295EFF;
    background-color: #DFE6FF;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line3{
    color: #24684A;
    background-color: #D7F1F1;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line4{
    color: #126F6F;
    background-color: #D5EAE1;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line5{
    color: #6116C0;
    background-color: #E8DDF8;
    border-radius: 20px;
    max-width: fit-content;
}


/* modal menu */
.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: rgba(50, 50, 50, 0.8); */
    transition: z-index 0.3s ease;
  }
  
  .modal-content {
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .modal.show {
    z-index: 100;
  }
  
  .modal.show .modal-content {
    transform: translateY(0);
  }

#close-modal{
    color: black;
    float: right;
    font-size: 16px;
    border: none;
    text-decoration: none;
    background: none;
    padding-right: 1.5em;
}


  /* .portal{
    filter: blur(.3em);
} */



@media (min-width: 360px) {
    .cards{
        display: flex; 
        flex-direction: row; 
    }
}

